.zoom-in-right-leave-active,
.zoom-in-right-enter-active {
  transition: 0.25s;
}
.zoom-in-right-enter {
  transform: translate(100%, 0);
}
.zoom-in-right-leave-to {
  transform: translate(100%, 0);
}

.slide-leave-active,
.slide-enter-active {
  transition: 0.25s;
}
.slide-enter {
  transform: translate(100%, 0);
}
.slide-leave-to {
  transform: translate(-100%, 0);
}

.collapse-transition-left-leave-active,
.collapse-transition-right-leave-active,
.collapse-transition-left-enter-active,
.collapse-transition-right-enter-active {
    transition: 0.25s ease-in-out;
}

.collapse-transition-left-enter,
.collapse-transition-left-leave-to {
    transform: scaleX(0);
    transform-origin: left center;
}

.collapse-transition-right-enter,
.collapse-transition-right-leave-to {
    transform: scaleX(0);
    transform-origin: right center;
}
